
# make sure these match in hyprpaper.conf
$main_monitor		= HDMI-A-1
$secondary_monitor	= HDMI-A-2

monitor = $main_monitor,1920x1080@60,1280x0,1
monitor = $secondary_monitor,1280x720@60,0x648,1

$keyboard = sonix-usb-device

